html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* background taken from url
https://www.kisspng.com/png-desktop-wallpaper-white-pattern-minimalist-wallpap-5156647/download-png.html
*/
body {
    background: #ffffff url('../img/bg6.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

h1 {
    font-family: 'Open Sans', sans-serif;
}

/* just for test delelte */

.head
{
  background: red;
}

/*  */
/*  */


/*
 * Styles for the deck of cards
 */

.deck {
    width: 35%;
    min-height: 100%;
    background: linear-gradient(160deg, #c53558 0%, #d47aa7 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #efc377;
    cursor: default;
    pointer-events: none;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #d56f94;
    font-size: 33px;
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    /* text-align: left; */
    width: 50%;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: gold;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
